/* COLOR PALETTE 
light: #FFECD1
green: #749C75 or #e8ecf2
purple (light): #6A5D7B
purple (dark): #5D4A66

palette 2
purple/grey main: #9ca2c3
cool white: #e8ecf2
warm brown: #594d59
*/

body {
  background-color: #878db1;
  margin: 0;
  color: #e8ecf2;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

a {
  color: #e8ecf2;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: #e8ecf2;
}

h1, h2 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 3px;
}

/* ******* NAVBAR ******* */

#navbar {
  border-bottom: 4px solid #e8ecf2;
  display: flex;
  position: sticky;
  height: 70px;
}

#nav_name {
  color: #e8ecf2;
  margin-left: 20px;
  text-decoration: none;
  /* display: none; */
}

#nav_contact {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 15px;
  top: 15px;
}

.logo {
  margin: 10px;
  width: 30px;
  height: 30px;
}

/* ***** IMPORTED FONT FAMILIES ****** */
.londrina-solid-thin {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .londrina-solid-light {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .londrina-solid-regular {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .londrina-solid-black {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  