/* COLOR PALETTE 
light: #FFECD1
green: #749C75 or #e8ecf2
purple (light): #6A5D7B
purple (dark): #5D4A66
*/

/* :root {
  --primary: #878db1;
  --secondary: #e8ecf2;
  --tertiary: #3d435e;
} */

:root {
  --primary: #fffbf1;
  --secondary: #d24141;
  --tertiary: #9c9595;
}

body {
  background-color: var(--primary);
  margin: 0;
  color: var(--secondary);
  font-family: "Raleway", sans-serif;
  /* font-weight: lighter; */
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: var(--secondary);
}

h1, h2 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 3px;
}

/* ******* NAVBAR ******* */

#navbar {
  border-bottom: 4px solid var(--secondary);
  display: flex;
  position: sticky;
  height: 70px;
}

#nav_name {
  color: var(--secondary);
  margin-left: 20px;
  text-decoration: none;
  /* display: none; */
}

#nav_contact {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 15px;
  top: 15px;
}

.logo {
  margin: 5px;
  width: 30px;
  height: 30px;
}

/* ***** IMPORTED FONT FAMILIES ****** */
.londrina-solid-thin {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .londrina-solid-light {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .londrina-solid-regular {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .londrina-solid-black {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

@media (min-width: 1000px) {
  .logo {
    margin: 10px;
  }
}
  