/* ******* SUBSECTIONS ******* */

#aboutMe {
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

#skillsOutline {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    background-color: rgb(41, 41, 41);
    padding: 50px;
}

#artwork_content {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

/* ******* ABOUT ME ******* */

#aboutMe_image {
    width: 500px;
    height: 500px;
    background-color: rgb(61, 61, 61);
}

#aboutMe_text {
    width: 500px;
    margin-left: 30px;
}

#aboutMe_para {
    font-size: 20px;
}

#aboutMe_name {
    font-size: 70px;
    margin: 0;
}

/* ******* SKILLS OUTLINE ******* */

.skills_subsection {
    width: 50%;
    font-size: 20px;
}

/* ******* PROJECTS ******* */

#project_titles a {
    color: white;
    text-decoration: none;
}

.projectTitle {
    font-size: 90px;
    margin: 0;
    padding: 0px 30px;
}

.project_indiv_title:hover {
    background-color: black;
}

.project_indiv_title {

    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.proj_year, .proj_type{
    padding-right: 20px;
    font-size: 20px;
}

.proj_type {
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
}

#projects_filter {
    display: flex;
    flex: row;
}

.filter_button {
    margin-right: 50px;
    font-size: 20px;
}

.filter_button:hover {
    cursor: pointer;
}

/* ******* ARTWORK ******* */
#artwork_header {
    background-color: rgb(41, 41, 41);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    font-size: 30px;
}

.artwork_container {
    width: 100px;
    height: 100px;
    background-color: rgb(61, 61, 61);
}

