
/* ******* SUBSECTIONS CONTAINER ******* */

#aboutMe {
    padding: 30px;
}

/* ******* ABOUT ME ******* */

#aboutMe_image {
    width: 80vw;
    max-width: 300px;
}

#aboutMe_hello {
    margin: 0;
}

#aboutMe_text {
    min-width: 200px;
}

#aboutMe_para {
    font-size: 15px;
}

#aboutMe_name {
    font-size: 70px;
    line-height: 70px;
    margin: 0;
}

/* ******* PROJECTS ******* */

#project_titles a {
    color: var(--secondary);
    text-decoration: none;
}

.projectTitle {
    font-size: 90px;
    margin: 0;
    padding: 0px 30px;
    line-height: 80px;
}

.project_indiv_title {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.proj_year {
    padding-right: 20px;
    font-size: 20px;
}

.proj_mediums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.proj_mediums p {
    font-size: 12px;
    margin-right: 15px;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px 5px 10px 5px;
}

#projects_filter {
    margin-left: 30px;
    display: flex;
    flex: row;
}

.filter_button {
    margin-right: 50px;
    font-size: 15px;
}

.filter_button:hover {
    cursor: pointer;
}

@media (min-width: 700px) {
    #aboutMe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #aboutMe_text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 30vw;
    }
    #aboutMe_image {
        width: 30vw;
        padding: 20px;
    }
}

