

h2 {
    font-size: 50px;
    margin: 0;
}

.section_container {
    /* background-color: rgb(41, 41, 41); */
    margin: 30px;
    flex-direction: column;
}

.section_text {
    font-size: 15px;
    line-height: 20px;
    /* font-weight: lighter; */
}

/* ***** HEADER ***** */

#header {
    margin: 30px;
}

#header_right {
    display: flex;
    flex: row;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 20px;
    flex-wrap: wrap;
}

#header_right a {
    color: var(--primary);
}

#header_left {
    margin-right: 30px;
    width: 70%;
}

#header_left_top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#mainHeader {
    font-size: 60px;
    line-height: 50px;
    margin: 0;
}

#linkToProj {
    width: 50px;
    margin:0px 10px;
}

#header_date {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.header_right_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.symbol {
    margin: 15px;
    width: 30px;
}

/* ***** DESCRIPTION ***** */

.descr_image {
    width: 90vw;
}

#descr_text {
    display: flex;
    flex-direction: column;
}

/* ***** FEATURES ***** */
#features_text {
    display: flex;
    flex-direction: column;
}

.features_image {
    width: 90vw;
}

.proj_video {
    width: 90vw;
}

@media (min-width: 1000px) {
    h2 {
        font-size: 60px;
    }
    .header {
        display: flex;
        flex-direction: row;
    }
    .header_left {
        display: flex;
        flex-direction: column;
    }
    .header_right {
        display: flex;
        flex-direction: column;
    }
    #mainHeader {
        font-size: 100px;
        line-height: 90px;
        margin: 0;
    }

    .section_container {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        align-items: center;
    }
    .section_text {
        font-size: 20px;
        line-height: 25px;
        padding: 0px 5px;
    }
    .descr_image, .features_image {
        padding: 20px;
        width: 55vw;
    }
    .descr_text, .features_text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .features_text {
        padding-right: 30px;
        width: 20vw;
    }
    .proj_video {
        width: 45vw;
        padding: 20px;
    }
}