h2 {
    font-size: 60px;
    margin: 0;
}

.section_container {
    /* background-color: rgb(41, 41, 41); */
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.section_text {
    font-size: 20px;
    line-height: 30px;
}

/* ***** HEADER ***** */

#header {
    margin: 50px;
    display: flex;
    flex-direction: row;
}

#header_right {
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    width: 30%;
}

#header_left {
    margin-right: 30px;
    width: 70%;
}

#header_left_top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#mainHeader {
    font-size: 100px;
    margin: 0;
}

#linkToProj {
    width: 50px;
    margin-left:20px;
}

#header_date {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.header_right_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.symbol {
    margin: 15px;
    background-color: rgb(166, 166, 166);
    width: 30px;
    height: 30px;
}

/* ***** DESCRIPTION ***** */

.descr_image {
    width: 50rem;
}

#descr_text {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* ***** FEATURES ***** */
#features_text {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.features_image {
    width: 50rem;
    margin: 20px;
}